body {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 200px;
  height: 300px;
  border: 1px solid black;
  box-shadow: 5px 5px 10px gray;
}

.zero {
  grid-column: span 2;
}

button {
  background-color: gold;
  font-family: cascadia code;
  font-weight: 600;
}

.display {
  background-color: gold;
  border-right: 3px solid black;
  border-left: 3px solid black;
  border-top: 3px solid black;
  height: 40px;
  font-size: x-large;
  display: flex;
  justify-content: right;
  align-items: end;
  font-family: cascadia code;
  font-weight: 500;
}
