* {
  font-family: cascadia code;
}
header {
  background-color: #1f2937;
  display: flex;
  color: white;
}

.header-logo-div {
  flex: 1;
  text-align: center;
}

.header-link-div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.div1 {
  background-color: #1f2937;
  color: white;
  display: flex;
  padding: 60px;
  align-items: center;
  justify-content: center;
}
.sign-up-in-div1 {
  margin: 20px;
}

.sign-up-in-div1 button {
  padding: 5px 5px;
  width: 80px;
  border: none;
  color: white;
  background-color: #3882f6;
}

.div1 img {
  height: 250px;
  width: 250px;
}

.random-info-lasagna-div {
  padding: 60px;
}

.random-information {
  text-align: center;
  padding-bottom: 10px;
}

.lasagna-images-div-container {
  display: flex;
}

.lasagna-images-div-container div {
  display: flex;
  flex-direction: column;
  border: 5px solid transparent;
  align-items: center;
  text-align: center;
}

.lasagna-images-div-container img {
  height: 120px;
  width: 120px;
}

.inspirational-div {
  background-color: blue;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.some-inspiration {
  background-color: aqua;
}

.author {
  background-color: aliceblue;
}
